:root {
    --grid-column: 1;
    --grid-row: 1;
}
*{
    margin: 0;
    padding: 0;
}

.box  {

    border: 1px solid;
    
}
.container {    
    display: grid;
    grid-template-columns: repeat(var(--grid-column), 1fr);
    grid-template-rows:  repeat(var(--grid-row), 1fr);
    width: 600px;
    height: 600px;
    margin: 10px 0px 0px 300px;
}

.box:hover {
    background-color: black;
}
